@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #0f0f0f !important;
}

.box {
    width: 70rem;
    height: 80vh;
    background-color: #f6f7f9;
    border-radius: 10px;
}

.container2 {
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 800px;
    padding: 10px;
}

.text-light {
    color: #0f0f0f !important;
    font-size: calc(1.2rem + .5vw) !important;
    margin: 2vh 0 3vh 0;
}

.container2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.hud-prefix {
    /* text-align: center; */
    font-size: 1.2em;
    margin-bottom: 20px;
}


.container2 .grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container2 .btn {
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    background-color: #081337;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 5px;
}

.container2 .btn:hover {
    cursor: pointer;


}

.next {
    background-color: var(--primary-color);
    justify-self: flex-end;
}

.prev {
    justify-self: flex-start;
}

/*option container*/
ul li {
    color: #2a2929;
    display: block;
    position: relative;
    float: left;
    width: 80%;
    height: 8vh;
    overflow: hidden;

}

/* .optipons {
    border: 1px solid #333;
} */

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: 500;
    padding: 15px 15px 15px 80px;
    font-size: 1.35em;
    z-index: 9;
    cursor: pointer;
    color: #000000 !important;
}


ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #2c2b2b;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 20px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .checked {
    border: 5px solid #282727;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}


input[type=radio]:checked~.check {
    border: 5px solid #000000;
}

input[type=radio]:checked~.check::before {
    background: black;
}

input[type=radio]:checked~.text-primary {
    color: black
}

/* To get selected option we are using this checked class */
.checked {
    border: 5px solid black !important;
}

.checked::before {
    background: black
}