/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #061032 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #061032;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #061032;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #061032;
}


.spinner {
  width: 19px;
  height: 19px;
  margin: 5px 10px 0 0;
  animation: spinner-y0fdc1 5s infinite ease-in-out;
  transform-style: preserve-3d;
}

.spinner>div {
  background-color: #ffffff55;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 1px solid #061032;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-9.6px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(9.6px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@media (max-width: 768px) {
  .spinner {
    margin: 5px 0 0 0;
  }
}


/* Navigation bar  */

.navbar.bg-transparent {
  background-color: transparent;
}

.navbar .navbar-brand {
  font-size: 2em;
  color: white !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: white;
  padding: 5px;
  margin: 0px 20px;
  transition: background-color .3s;
}

.navbar-nav .nav-link:hover {
  background-color: #f5f6f7;
  border-radius: 5px;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* overflow: auto; */
}

.custom-div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  padding: 1em;
  width: 100%;
}

.custom-text {
  text-align: center;
  color: #ffffff;
  padding: 1em;
  padding-top: 2em;
  flex: 1;
}

.custom-text h1 {
  font-size: 2.8em;
  margin-bottom: 15px;
}

.custom-text p {
  text-transform: capitalize;
  text-align: left;
  font-size: 1.2em;
  padding-right: 7em;
  margin-bottom: 50px;
  color: #ffffff;
}

.custom-button {
  padding: 8px 30px;
  background-color: #fe7f1e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #f96902;
}

.custom-image {
  width: 100%;
  height: 600px;
  padding: 1em;
  flex: 1;
}

@media (max-width: 768px) {
  .custom-div {
    padding: 0px;
  }


  .custom-text h1 {
    font-size: 2.1em;
    margin-bottom: 10px;
  }

  .custom-text p {
    text-align: center;
    padding: 1.3em;
    font-size: 1em;
    margin-bottom: 25px;
  }

  .custom-image {
    margin-top: 20px;
    height: 360px;
  }
}

@media (min-width: 768px) {
  .custom-text {
    text-align: left;
  }
}

/* Base styles for the About Us section */
#about {
  padding: 40px 0;
  color: #ffffff;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-image {
  flex: -1;
  box-shadow: 1px 1px 20px #eeeded40;
}

.about-content {
  flex: 1;
  padding: 40px;
  text-align: justify;
  word-wrap: break-word;
  margin: 0 4em 4em 0;
}

.about-content h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

/* 
.about-content .btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
} */

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .about-content {
    padding: 20px;
  }
}


/* card section */

.main-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 20px; */
}

.card {
  width: 320px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: #f2f4f4;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-content h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none !important;
}

.button:hover {
  background-color: #0056b3;
}

/* Example responsive text styles */
.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Responsive text adjustments */

@media (max-width: 700px) {
  .card-content h2 {
    font-size: 1.2rem;
    margin: 8px 0;
  }

  .card-content p {
    font-size: 0.85rem;
    margin-bottom: 10px;
  }

  .card {
    width: calc(100% - 80px);
  }
}

/* feature-section */

.feature-section {
  padding: 50px 0;
  /* background-color: #ffffff; */
  text-align: center;
  margin-bottom: 10vh;
}

.section-title {
  font-family: 'Franklin Gothic Medium' !important;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 1.5em;
  color: #071135;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.feature-card {
  width: 350px;
  margin: 2em;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-transform: capitalize;
  padding: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-15px);
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: #f2f4f4;
}

.card-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-size: 1.8em;
  margin-bottom: 40px !important;
  color: #05113f;
}

.card-description {
  font-size: 1em;
  color: #666;
  margin: .5em;
}

@media (max-width: 700px) {
  .section-title {
    font-size: 2em;
  }

  .card-title {
    font-size: 1.5em;
  }

  .card-description {
    font-size: 1em;
  }
}



/* FAQ section */

.accordion {
  margin: 0 15vh 15vh 15vh;
}

.faq-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  color: #071135;
  text-align: center;
  margin-bottom: 8vh;
  font-size: 3em;
  font-weight: 550;
}

.accordion-button {
  font-size: .6em !important;
}

@media (max-width: 768px) {
  .accordion {
    margin: 0 4vh 10vh 4vh;
  }

  .accordion-button {
    padding: 10px !important;
  }

  .faq-title {
    font-size: 2em;
  }

}


/* contact */

.contact {
  padding: 50px 0;
  margin: 0px;
  /* background-color: #ffffff; */
}

.join-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fefdfd;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.join-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

.join-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
}

#join-name,
#join-phone {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#message {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.join-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto
    /* Move the button to the right */
}

.join-button:hover {
  background-color: #0056b3;
}

.join-image img {
  max-width: 100%;
  border-radius: 5px;
  padding: 50px;
}

/* Responsive Media Queries */
@media (max-width: 768px) {

  .join-image img {
    padding: 0px;
  }

  .join-content {
    max-width: none;
    padding: 0 20px;
    text-align: left;
  }

  input {
    margin: 2px;
  }
}


/* Footer container */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #071135;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 10vh;
}

/* Left side of the footer */
.title1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.icon {
  color: #fff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #007bff;
}

.contact-details {
  font-size: 16px;
  margin-top: 20px;
}

.contact-details a {
  color: #ffffff;
  text-decoration: none;
}

.contact-details a:hover {
  color: #3294fd;
}

.right-side {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side iframe {
  border-radius: 1rem;
  width: 80vh;
  height: 50vh;
}

.rights {
  background-color: #CBCFDD;
  text-align: center;
  padding: 5px 0;
  color: #000000;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {


  .footer-container {
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
  }

  .right-side {
    padding-right: 0;
  }
}